<main>
    <div class="head-title border-b-[1.5px] pb-8 border-[rgba(0,0,0,0.2)]">
        <div class="left">
            <h1>Foryou</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>/</li>
                <li>
                    <a href="#">Clubs</a>
                </li>
                <li>/</li>
                <li>
                    <a class="active">Posts</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="flex ">
        <div class="flex-1">
            <div *ngFor="let post of posts" class="border-b-[1.5px] border-[rgba(0,0,0,0.2)] py-5 flex gap-5">
                <div class="h-[350px] w-[350px]">
                    <div *ngIf="post.imageUrl">
                        <img [src]="post.imageUrl" alt="image" class="w-full h-full object-cover" />

                    </div>
                </div>
                <div class="flex flex-col gap-5 justify-between">
                    <div>
                        <p>Posted In {{formatReadableDate(post.createdAt)}}</p>
                        <p class="text-xl">{{post.content}}</p>

                    </div>
                    <div class="flex gap-2">
                        <button (click)="upVote(post._id)">
                            <i class="fa-solid fa-up-long"></i>
                            <p>{{post.upvotes.length}}</p>
                        </button>
                        <button (click)="downVote(post._id)">
                            <i class="fa-solid fa-down-long"></i>
                            <p>{{post.downvotes.length}}</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    <div>

    </div>
</main>