.landing {
  position: relative;
  background-color: #fff;
  z-index: -2;
}

.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  height: 100%;
  background-color: #1787e0;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}

.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}

.landing .text {
  flex: 1;
}

@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}

.landing .text h1 {
  font-size: 60px;
  margin: 0;
  letter-spacing: -2px;
  color: #fff;
  line-height: 60px;
}

@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
    color: white;
  }
}

.landing .text p {
  font-size:20px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #f6f5f5;
  max-width: 500px;
  font-weight: 400;
}

@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}

@media (max-width: 767px) {
  .landing .text p {
    font-size: 18px;
  }
}

.landing .image img {
  position: relative;
  width: 600px;
  animation: up-and-down 5s linear infinite;
}

@media (max-width: 991px) {
  .landing .image {
    display: none;
  }
}

.landing .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}

.landing .go-down:hover {
  color: var(--main-color-alt);
}

.landing .go-down i {
  animation: bouncing 1.5s infinite;
}

/* End Landing */

/* Start Features */
.features {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: white;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.features .box {
  text-align: center;
  border: 1px solid #ccc;
}

.features .box .img-holder {
  position: relative;
  overflow: hidden;
}

.features .box .img-holder::before {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
  height: 100%;
}

.features .box .img-holder::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
}

.features .box .img-holder img {
  max-width: 100%;
}

.features .box:hover .img-holder::after {
  border-width: 170px 500px 170px 0;
}

.features .box h2 {
  position: relative;
  font-size: 40px;
  margin: auto;
  width: fit-content;
}

.features .box h2::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 15px;
  height: 5px;
  width: calc(100% - 30px);
}

.features .box p {
  line-height: 2;
  font-size: 20px;
  margin: 30px 0;
  padding: 25px;
  color: #777;
}

.features .box a {
  display: block;
  border: 3px solid transparent;
  width: fit-content;
  margin: 0 auto 30px;
  font-weight: bold;
  font-size: 22px;
  padding: 10px 30px;
  border-radius: 6px;
  transition: var(--main-transition);
}

.features .quality .img-holder::before {
  background-color: rgb(244 64 54 / 60%);
}

.features .quality h2::after {
  background-color: #f44036;
}

.features .quality a {
  color: #f44036;
  border-color: #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .time .img-holder::before {
  background-color: rgb(0 150 136 / 60%);
}

.features .time h2::after {
  background-color: #009688;
}

.features .time a {
  color: #009688;
  border-color: #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .passion .img-holder::before {
  background-color: rgb(3 169 244 / 60%);
}

.features .passion h2::after {
  background-color: #03a9f4;
}

.features .passion a {
  color: #03a9f4;
  border-color: #03a9f4;
  background: linear-gradient(to right, #03a9f4 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .box:hover a {
  background-position: left bottom;
  color: white;
}

/* End Features */
/* Start Testimonials */
.testimonials {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}

.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.testimonials .box {
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
  border-radius: 6px;
  position: relative;
}

.testimonials .box img {
  position: absolute;
  right: -10px;
  top: -50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid var(--section-background);
}

.testimonials .box h3 {
  margin: 0 0 10px;
}

.testimonials .box .title {
  color: #777;
  margin-bottom: 10px;
  display: block;
}

.testimonials .box .rate .filled {
  color: #ffc107;
}

.testimonials .box p {
  line-height: 1.5;
  color: #777;
  margin-top: 10px;
  margin-bottom: 0;
}

/* End Testimonials */
/* Start Features */
.features {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: white;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.features .box {
  text-align: center;
  border: 1px solid #ccc;
}

.features .box .img-holder {
  position: relative;
  overflow: hidden;
}

.features .box .img-holder::before {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
  height: 100%;
}

.features .box .img-holder::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
}

.features .box .img-holder img {
  max-width: 100%;
}

.features .box:hover .img-holder::after {
  border-width: 170px 500px 170px 0;
}

.features .box h2 {
  position: relative;
  font-size: 40px;
  margin: auto;
  width: fit-content;
}

.features .box h2::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 15px;
  height: 5px;
  width: calc(100% - 30px);
}

.features .box p {
  line-height: 2;
  font-size: 20px;
  margin: 30px 0;
  padding: 25px;
  color: #777;
}

.features .box a {
  display: block;
  border: 3px solid transparent;
  width: fit-content;
  margin: 0 auto 30px;
  font-weight: bold;
  font-size: 22px;
  padding: 10px 30px;
  border-radius: 6px;
  transition: var(--main-transition);
}

.features .quality .img-holder::before {
  background-color: rgb(244 64 54 / 60%);
}

.features .quality h2::after {
  background-color: #f44036;
}

.features .quality a {
  color: #f44036;
  border-color: #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .time .img-holder::before {
  background-color: rgb(0 150 136 / 60%);
}

.features .time h2::after {
  background-color: #009688;
}

.features .time a {
  color: #009688;
  border-color: #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .passion .img-holder::before {
  background-color: rgb(3 169 244 / 60%);
}

.features .passion h2::after {
  background-color: #03a9f4;
}

.features .passion a {
  color: #03a9f4;
  border-color: #03a9f4;
  background: linear-gradient(to right, #03a9f4 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .box:hover a {
  background-position: left bottom;
  color: white;
}

/* End Features */
/* Start Testimonials */
.testimonials {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: #fff;
  /* background-color: var(--section-background); */
}

.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.testimonials .box {
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
  border-radius: 6px;
  position: relative;
}

.testimonials .box img {
  position: absolute;
  right: -10px;
  top: -50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid var(--section-background);
}

.testimonials .box h3 {
  margin: 0 0 10px;
}

.testimonials .box .title {
  color: #777;
  margin-bottom: 10px;
  display: block;
}

.testimonials .box .rate .filled {
  color: #ffc107;
}

.testimonials .box p {
  line-height: 1.5;
  color: #777;
  margin-top: 10px;
  margin-bottom: 0;
}

/* End Testimonials */
/* Start Work Steps */
.work-steps {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: white;
}

.work-steps .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .work-steps .container {
    flex-direction: column;
  }
}

.work-steps .image {
  max-width: 100%;
  margin-right: 100px;
}

@media (max-width: 991px) {
  .work-steps .image {
    margin: 0 0 50px;
  }
}

.work-steps .info .box {
  background-color: #f6f5f5;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  border: 2px solid white;
  position: relative;
  z-index: 1;
}

@media (max-width: 767px) {
  .work-steps .info .box {
    flex-direction: column;
    text-align: center;
  }
}

.work-steps .info .box::before {
  content: "";
  left: 50%;
  top: 50%;
  position: absolute;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background-color: #ededed;
  z-index: -1;
  transition: var(--main-transition);
}

.work-steps .info .box:hover::before {
  width: 100%;
  height: 100%;
}

.work-steps .info .box img {
  width: 64px;
  margin-right: 30px;
}

@media (max-width: 767px) {
  .work-steps .info .box img {
    margin: 0 0 30px;
  }
}

.work-steps .info .box h3 {
  margin: 0;
  font-size: 22px;
}

.work-steps .info .box p {
  color: #777;
  line-height: 1.7;
  margin: 10px 0 0;
  font-size: 18px;
}

/* End Work Steps */
/* Start Pricing */
.pricing {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}

.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.pricing .box {
  position: relative;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  transition: var(--main-transition);
  background: white;
  text-align: center;
  z-index: 1;
}

.pricing .box::before,
.pricing .box::after {
  content: "";
  width: 0;
  height: 50%;
  background-color: #f6f6f6;
  position: absolute;
  z-index: -1;
  transition: var(--main-transition);
}

.pricing .box::before {
  left: 0;
  top: 0;
}

.pricing .box::after {
  right: 0;
  bottom: 0;
}

.pricing .box:hover::before,
.pricing .box:hover::after {
  width: 100%;
}

@media (min-width: 1200px) {
  .pricing .box.popular {
    top: -20px;
  }
}

.pricing .box.popular .label {
  position: absolute;
  writing-mode: vertical-rl;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 10px 10px 35px 10px;
  font-size: 18px;
  right: 20px;
  width: 40px;
}

.pricing .box.popular .label::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-color: transparent transparent white;
  border-width: 20px;
}

.pricing .box .title {
  font-weight: bold;
  margin: 30px 0;
  font-size: 25px;
  letter-spacing: -1px;
}

.pricing .box img {
  width: 80px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.pricing .box .price {
  margin-bottom: 20px;
}

.pricing .box .amount {
  display: block;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--main-color);
}

.pricing .box .time {
  color: #777;
}

.pricing .box ul {
  text-align: left;
}

.pricing .box ul li {
  padding: 15px;
  border-top: 1px solid #eee;
}

.pricing .box ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  margin-right: 10px;
  font-weight: 900;
  color: var(--main-color);
}

.pricing .box a {
  display: block;
  width: fit-content;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  margin: 30px auto 40px;
  padding: 15px 20px;
  border-radius: 6px;
  font-weight: bold;
  transition: var(--main-transition);
}

.pricing .box a:hover {
  background-color: var(--main-color-alt);
  border-color: var(--main-color-alt);
  color: white;
}

/* End Pricing */
/* Start Discount */
.discount {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.discount .image {
  background-image: url("../../../../assets/imgs/discount-background1.jpg");
  background-size: cover;
  color: white;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  animation: change-background 10s linear infinite;
}

.discount .image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(23 135 224 / 97%);
  z-index: -1;
}

@media (max-width: 991px) {
  .discount .image {
    flex-basis: 100%;
  }
}

.discount .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  padding-bottom: 50px;
}

@media (max-width: 991px) {
  .discount .form {
    flex-basis: 100%;
  }
}

.discount .form .input {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
}

.discount .form textarea.input {
  resize: none;
  height: 200px;
}

.discount .form .input:focus {
  outline: none;
}

.discount .form [type="submit"] {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: var(--main-transition);
}

.discount .form [type="submit"]:hover {
  background-color: var(--main-color-alt);
}

.discount .content {
  text-align: center;
  padding: 0 20px;
}

.discount .content h2 {
  font-size: 40px;
  letter-spacing: -2px;
}

.discount .content p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
}

.discount .content img {
  width: 300px;
  max-width: 100%;
}

/* End Discount */

/* Start Stats */
.stats {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-image: url("../../../../assets/imgs/stats.jpg");
  background-size: cover;
  min-height: 300px;
}

.stats::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 95%);
}

.stats h2 {
  font-weight: bold;
  font-size: 40px;
  width: fit-content;
  margin: 0 auto 50px;
  position: relative;
}

.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.stats .box {
  background-color: white;
  padding: 30px 15px;
  text-align: center;
  position: relative;
  opacity: 0.8;
  transition: var(--main-transition);
}

.stats .box::before,
.stats .box::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: var(--main-color);
  transition: 1s;
  height: 0;
}

.stats .box::before {
  top: 0;
  right: 0;
}

.stats .box::after {
  left: 0;
  bottom: 0;
}

.stats .box:hover {
  opacity: 1;
}

.stats .box:hover::before,
.stats .box:hover::after {
  height: 100%;
}

.stats .box .number {
  display: block;
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.stats .box .text {
  color: var(--main-color);
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}

/* End Stats */
/* Start Services */
.services {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  /* background-color: white; */
  background-color: var(--section-background);
}

.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.services .box {
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  counter-increment: services;
  transition: var(--main-transition);
  position: relative;
}

.services .box::before {
  content: "";
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  top: -3px;
  background-color: var(--main-color);
  position: absolute;
  width: 0;
  transition: var(--main-transition);
}

.services .box:hover {
  transform: translateY(-10px);
}

.services .box:hover::before {
  width: 100%;
}

.services .box>i {
  margin: 30px auto 20px;
  display: block;
  text-align: center;
  color: #d5d5d5;
}

.services .box>h3 {
  text-align: center;
  margin: 20px 0 40px;
  font-size: 25px;
  color: var(--main-color);
}

.services .box .info {
  padding: 15px;
  position: relative;
  background-color: #f9f9f9;
  text-align: right;
}

.services .box .info::before {
  content: "0" counter(services);
  position: absolute;
  background-color: var(--main-color);
  color: white;
  left: 0;
  top: 0;
  height: 100%;
  width: 80px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}

.services .box .info::after {
  content: "";
  position: absolute;
  background-color: #d5d5d5;
  top: 0;
  left: 60px;
  width: 50px;
  height: calc(100% + 0.4px);
  transform: skewX(-30deg);
}

.services .box .info a {
  color: var(--main-color);
}

/* End Services */
.feed-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 8px;
}