<form [formGroup]="addClub" (ngSubmit)="submitForm()" class="my-10">
    <div class="max-w-lg mx-auto ">
      <h1 class="text-3xl mb-7 text-center">New Club</h1>
      <div class=" flex justify-center flex-col mb-2">
        <div class="form-group">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Profile Image </label>
            <input type="file" id="image" formControlName="profileImage" (change)="onImageChange($event)"
                accept="image/*"
                class="bg-gray-50 hidden border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none w-full p-3" />
        </div>
        <div (click)="openImage()"
            class="cursor-pointer relative h-[250px] w-full sm:w-[250px]  border-2 border-gray-300 shadow-sm bg-gray-50   text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block  p-2.5 focus:outline-none">
            <ng-container *ngIf="imageUrl; else noImage">
                <img [src]="imageUrl" [alt]="imageUrl" class="w-full h-full object-contain" />
            </ng-container>
            <ng-template #noImage>
                <img src="../../assets/download.png" alt="preview"
                    class=" w-full h-full object-contain opacity-40" />
            </ng-template>
        </div>
    </div>
      <div class="mb-5">
        <label for="clubName" class="block mb-2 text-sm font-medium text-gray-900">Club Name</label>
        <input type="text" id="clubName" formControlName="clubName"
          class="shadow-sm bg-gray-50 border-2 border-gray-300 focus:outline-none text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
      </div>
  
      <div class="mb-2">
        <label for="description" class="block mb-2 text-sm font-medium text-gray-900">Description</label>
        <textarea id="description" formControlName="description"
          class="shadow-sm bg-gray-50 border-2 border-gray-300 focus:outline-none text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"></textarea>
      </div>
  
      <div class="mb-2">
        <label for="genre" class="block mb-2 text-sm font-medium text-gray-900">Genre</label>
        <input type="text" id="genre" formControlName="genre"
          class="shadow-sm bg-gray-50 border-2 border-gray-300 focus:outline-none text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
      </div>
  
  
  
      
  
      <div class="mb-2">
        <label for="categorie" class="block mb-2 text-sm font-medium text-gray-900">Categorie</label>
        <input type="text" id="categorie" formControlName="categorie"
          class="shadow-sm bg-gray-50 border-2 border-gray-300 focus:outline-none text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
      </div>
  
      <button type="submit"
        class="text-white w-full bg-blue-700 hover:bg-blue--2800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
    {{setLoding ? "Creating new Club..." : "new Club" }}</button>
    </div>
  </form>
  