<div class="w-full min-h-[70vh] p-4">
    <div class="bg-[red] h-[250px] relative rounded-xl w-full">
        <div class="h-[150px] w-[150px] absolute bottom-[-75px] left-[100px] bg-[#eee] p-4 rounded-full">
            <img class="h-full w-full rounded-full" [src]="club.profilePicture" alt="">
        </div>
    </div>
    <mat-tab-group>
        <mat-tab label="First"> Content 1 </mat-tab>
        <mat-tab label="Second"> Content 2 </mat-tab>
        <mat-tab label="Third"> Content 3 </mat-tab>
    </mat-tab-group>


</div>