<main>
    <div class="head-title border-b-[1.5px] pb-8 border-[rgba(0,0,0,0.2)]">
        <div class="left">
            <h1>Dashboard</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>/</li>
                <li>
                    <a class="active">Clubs</a>
                </li>
            </ul>
        </div>
        <a routerLink="./new" class="btn-download">
            <i class='bx bxs-cloud-download fa-solid fa-plus '></i>
            <span class="text">Add Club</span>
        </a>
    </div>

    <div class="mt-5">
        <div class="overflow-x-auto shadow-md sm:rounded-lg">
            <!-- Search bar -->
            <!-- Implement the search bar here if needed -->

            <!-- Table -->
            <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <!-- Column Headers -->
                        <th scope="col" class="text-center p-4">Name</th>
                        <th scope="col" class="text-center p-4">Description</th>
                        <th scope="col" class="text-center p-4">Genre</th>

                        <th scope="col" class="text-center p-4">Created At</th>
                        <th scope="col" class="text-center p-4">Is Approved</th>
                        <th scope="col" class="text-center p-4">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Table Rows -->
                    <tr *ngFor="let club of clubs" class="bg-white border-b hover:bg-gray-50">
                        <td class="text-center p-4">{{ club.clubName }}</td>
                        <td class="text-center p-4">{{ club.description }}</td>
                        <td class="text-center p-4">{{ club.genre }}</td>


                        <td class="text-center p-4">{{ formatReadableDate(club.createdAt) }}</td>
                        <td class="text-center p-4">
                            <div *ngIf="club.approved" class="flex items-center">
                                <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div> Active
                            </div>
                            <div *ngIf="!club.approved" class="flex items-center">
                                <div class="h-2.5 w-2.5 rounded-full bg-red-500 me-2"></div> Inactive
                            </div>
                        </td>
                        <td class="text-center p-4 justify-center flex gap-3">
                            <button class="p-2 rounded-lg bg-[#3C91E6]" (click)="viewClub(club)"><i
                                    class="text-white font-bold fa-solid fa-eye"></i></button>
                            <button class="p-2 rounded-lg bg-green-500" (click)="editClub(club)"><i
                                    class="text-white font-bold fa-solid fa-pen"></i></button>
                            <button class="p-2 rounded-lg bg-[#DB504A]" (click)="deleteClub(club)"><i
                                    class="text-white font-bold fa-solid fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div id="editUserModal" aria-hidden="true"
        class="backdrop-blur-sm bg-white/30 fixed top-0 left-0 right-0 z-[1000000000] items-center justify-center hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative center-model w-full max-w-2xl max-h-full">
            <!-- Modal content -->
            <form [formGroup]="addClub" (ngSubmit)="submitForm()" class="p-5  bg-white rounded-lg shadow-xl">
                <!-- Modal header -->
                <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-xl font-semibold text-gray-900 ">
                        Edit user
                    </h3>
                    <button type="button" (click)="closeModel()"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center  "
                        data-modal-hide="editUserModal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>

                </div>
                <div class=" flex justify-center flex-col mb-2">
                    <div class="form-group">
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Profile Image </label>
                        <input type="file" id="image" formControlName="profileImage" (change)="onImageChange($event)"
                            accept="image/*"
                            class="bg-gray-50 hidden border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none w-full p-3" />
                    </div>
                    <div (click)="openImage()"
                        class="cursor-pointer relative h-[250px] w-full sm:w-[250px]  border-2 border-gray-300 shadow-sm bg-gray-50   text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block  p-2.5 focus:outline-none">
                        <ng-container *ngIf="imageUrl; else noImage">
                            <img [src]="imageUrl" [alt]="imageUrl" class="w-full h-full object-contain" />
                        </ng-container>
                        <ng-template #noImage>
                            <img src="../../assets/download.png" alt="preview"
                                class=" w-full h-full object-contain opacity-40" />
                        </ng-template>
                    </div>
                </div>
                <div class="mb-5">
                    <label for="clubName" class="block mb-2 text-sm font-medium text-gray-900">Club Name</label>
                    <input type="text" id="clubName" formControlName="clubName"
                        class="shadow-sm bg-gray-50 border-2 border-gray-300 focus:outline-none text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                </div>

                <div class="mb-2">
                    <label for="description" class="block mb-2 text-sm font-medium text-gray-900">Description</label>
                    <textarea id="description" formControlName="description"
                        class="shadow-sm bg-gray-50 border-2 border-gray-300 focus:outline-none text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"></textarea>
                </div>

                <div class="mb-2">
                    <label for="genre" class="block mb-2 text-sm font-medium text-gray-900">Genre</label>
                    <input type="text" id="genre" formControlName="genre"
                        class="shadow-sm bg-gray-50 border-2 border-gray-300 focus:outline-none text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                </div>





                <div class="mb-2">
                    <label for="categorie" class="block mb-2 text-sm font-medium text-gray-900">Categorie</label>
                    <input type="text" id="categorie" formControlName="categorie"
                        class="shadow-sm bg-gray-50 border-2 border-gray-300 focus:outline-none text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                </div>

                <button type="submit"
                    class="text-white w-full bg-blue-700 hover:bg-blue--2800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    {{setLoding ? "updating Club..." : "update" }}
                </button>

            </form>
        </div>
    </div>
</main>