<div class="feed-container mt-10">
  <div
    *ngFor="let post of posts"
    class="bg-[#fff] p-3 rounded-xl justify-between flex flex-col gap-3"
  >
    <div class="flex justify-between gap-2 items-center">
      <div class="flex gap-2 items-center"></div>

      <span
        class="cursor-pointer h-[25px] w-[25px] flex justify-center p-2 items-center rounded-full hover:bg-[#eee]"
      >
        <i class="fa-solid text-black fa-ellipsis-vertical"></i>
      </span>
    </div>
    <div class="post-content">
      <p
        (click)="navigateToPostDetail(post._id)"
        class="hover:underline text-xl text-black font-bold"
      >
        {{ truncateText(post.content) }}
      </p>
      <p>Posted In {{ formatReadableDate(post.createdAt) }}</p>
    </div>
    <div class="post-image">
      <img
        [src]="post.imageUrl"
        alt="image"
        class="w-full h-[250px] rounded-xl object-cover"
      />
    </div>
    <div class="flex items-center justify-between gap-2">
      <div class="cursor-pointer flex items-center rounded-xl bg-[#eee]">
        <span
          (click)="upVote(post._id)"
          class="rounded-s-xl border-gray-500 p-2 flex items-center"
          [ngClass]="{ 'gap-2': post.upvotes.length > 0 }"
          [ngClass]="{
            'bg-[#1ddc6f3d]': post.upvotes.includes(customer._id)
          }"
        >
          <i
            class="fa-solid mr-1 text-xl font-extrabold text-gray-500 fa-up-long"
            [ngClass]="{
              'text-green-500': post.upvotes.includes(customer._id)
            }"
          ></i>
          <p
            [ngClass]="{
              'text-green-500': post.upvotes.includes(customer._id)
            }"
            class="border-r-2 text-md font-bold"
          >
            {{ post.upvotes.length > 0 ? post.upvotes.length : "" }}
          </p>
        </span>
        <span
          (click)="downVote(post._id)"
          class="p-2 hover:bg-[#d52b2014] downvote"
        >
          <i class="fa-solid fa-down-long text-gray-500"></i>
        </span>
      </div>
      <div
        class="cursor-pointer h-[35px] w-[35px] flex justify-center gap-2 p-2 items-center rounded-xl bg-[#eee]"
      >
        <i class="fa-solid text-gray-500 fa-comment"></i>
        <p class="hover:text-[#15ce5c] border-r-2 text-md font-bold">
          {{ post.comments.length > 0 ? post.comments.length : "" }}
        </p>
      </div>
      <div
        (click)="savePosts(post._id)"
        [ngClass]="{
          'bg-yellow-200': _savedPosts.includes(post._id)
        }"
        class="cursor-pointer h-[35px] w-[35px] flex justify-center p-2 items-center rounded-xl bg-[#eee]"
      >
        <i
          [ngClass]="{
            'text-yellow-600': _savedPosts.includes(post._id)
          }"
          class="fa-solid text-gray-500 text-xl fa-bookmark"
        ></i>
      </div>
    </div>
  </div>
</div>
