<main>
    <div class="head-title border-b-[1.5px] pb-8 border-[rgba(0,0,0,0.2)]">
        <div class="left">
            <h1>Dashboard</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>/</li>
                <li>
                    <a href="#">Clubs</a>
                </li>
                <li>/</li>
                <li>
                    <a class="active">Posts</a>
                </li>
            </ul>
        </div>
    </div>
    <div *ngIf="id==club?.ownerId" class="border-b-[1.5px] border-[rgba(0,0,0,0.2)] py-5">
        <form [formGroup]="addpost" (ngSubmit)="submitForm()">
            <div class=" flex flex-col">
                <h1 class="text-3xl  text-left mt-5 mb-5">New Post ?</h1>
                <div class="h-[250pd] w-[250px]" (click)="openImage()">
                    <div *ngIf="imageUrl">
                        <img [src]="imageUrl" [alt]="imageUrl" class="w-full h-full object-contain" />

                    </div>
                </div>
                <textarea formControlName="content"
                    class=" bg-transparent focus:outline-none  rounded-lg  block w-full p-2.5 text-xl"
                    placeholder="What is happening?!"></textarea>
                <div class="form-group">
                    <input type="file" id="image" formControlName="profileImage" (change)="onImageChange($event)"
                        accept="image/*"
                        class="bg-gray-50 hidden border-2 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#321fdb] focus:border-[#321fdb] outline-none w-full p-3" />
                </div>
                <div (click)="openImage()">
                    <i class="text-2xl font-bold fa-solid fa-image"></i>
                </div>
            </div>

            <div *ngIf="mode=='insert'; else elseBlock">
                <button type="submit" class="text-white  bg-blue-700 hover:bg-blue--2800 focus:ring-4 focus:outline-
                 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center
                  dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                {{setLoding ? "Posting..." : "new Post" }}</button>

            </div>
            
            <ng-template #elseBlock>
                <button type="submit" class="text-white  bg-blue-700 hover:bg-blue--2800 focus:ring-4 focus:outline-
                focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center
                 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
               {{setLoding ? "updating..." : "update post" }}</button>
              </ng-template>
            
            
        </form>
    </div>
    <div class="flex flex-col ">
        <div *ngFor="let post of posts" class="border-b-[1.5px] border-[rgba(0,0,0,0.2)] py-5 flex gap-5">
            <div class="h-[350px] w-[350px]">
                <div *ngIf="post.imageUrl">
                    <img [src]="post.imageUrl" [alt]="imageUrl" class="w-full h-full object-cover" />

                </div>
            </div>
            <div class="flex flex-col gap-5 justify-between"> 
                <div>
                    <p>Posted In {{formatReadableDate(post.createdAt)}}</p>
                    <p class="text-xl">{{post.content}}</p>
                    <div class="flex gap-3 "*ngIf="id==club?.ownerId">
                        <button (click)="deletePost(post._id)">delete</button>
                        <button (click)="updatePost(post._id)">update</button>
                    </div>
                </div>
                <div class="flex gap-2">
                    <button (click)="upVote(post._id)">
                        <i class="fa-solid fa-up-long"></i>
                        <p>{{post.upvotes.length}}</p>
                    </button>
                    <button (click)="downVote(post._id)">
                        <i class="fa-solid fa-down-long"></i>
                        <p>{{post.downvotes.length}}</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div>

    </div>
</main>