<!-- sidebar.component.html -->
<section id="sidebar" [ngClass]="functionsS.status ? 'hide' : ''">
  <a class="brand ">
    <i class="bx bxs-group fa-solid fa-house"></i>
    <span class="text">Tiddy's Room</span>
  </a>
  <ul class="side-menu top">
    <li [class.active]="isActive('/admin/home')">
      <a (click)="navigateTo('/admin/home')">
        <i class="bx bxs-group fa-solid fa-house"></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li [class.active]="isActive('/admin/clients')">
      <a (click)="navigateTo('/admin/clients')">
        <i class="bx bxs-group fa-solid fa-user"></i>
        <span class="text">Users</span>
      </a>
    </li>
    <li [class.active]="isActive('/admin/Squads')">
      <a (click)="navigateTo('/admin/Squads')">
        <i class="bx bxs-group fa-solid fa-users"></i>
        <span class="text">Squads</span>
      </a>
    </li>

  </ul>
</section>