<main>
    <div class="head-title">
        <div class="left">
            <h1>Dashboard</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>/</li>
                <li>
                    <a class="active" href="#">Home</a>
                </li>
            </ul>
        </div>
    </div>

    <ul class="box-info">
        <li>
            <i class='fa-solid fa-user bx bxs-calendar-check'></i>
            <span class="text">
                <h3>{{ clients.length - 1 }}</h3>
                <p>Total Clients </p>
            </span>
        </li>
        <li>
            <i class='fa-solid fa-users bx bxs-group'></i>
            <span class="text">
                <h3>{{ squads.length }}</h3>
                <p>Total Squads</p>
            </span>
        </li>
        <li>
            <i class='bx bxs-dollar-circle fa-solid fa-fire'></i>
            <span class="text">
                <h3>{{ Posts.length }}</h3>
                <p>Total Post</p>
            </span>
        </li>
    </ul>

</main>
