/* main.component.css */

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.styled-table th,
.styled-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.styled-table th {
    background-color: #f2f2f2;
} 