<nav class="flex justify-between">
  <i (click)="addToggle()" class="bx bx-menu"
    ><i class="bx bxs-group fa-solid fa-bars"></i
  ></i>

      <div></div>
  <div *ngIf="customer; else notLoggedInMessage">
    <div class="flex justify-between items-center gap-5">
      <button
        (click)="navigateToGroupe()"
        class="w-full bg-purple-600 hover:bg-purple-700 text-center text-white font-bold py-2 px-4 rounded-lg"
      >
        New
      </button>
      <a class="notification cursor-pointer" routerLink="notifcations">
        <i class="fa-solid fa-bell bx bxs-group"></i>
        <span class="num">8</span>
      </a>
      <div
        (click)="toggleDropdown()"
        type="button"
        class="bg-[#9333ea] p-[3px] flex items-center h-[45px] w-[100px] justify-between rounded-full focus:ring-4 focus:ring-gray-300"
        id="user-menu-button"
        aria-expanded="false"
        data-dropdown-toggle="user-dropdown"
        data-dropdown-placement="bottom"
      >
        <img
          class="w-full h-full rounded-full"
          [src]="
            customer?.profileImage
              ? customer.profileImage
              : '../../assets/nouser.png'
          "
          alt="user photo"
        />
      </div>
    </div>
    <!-- Dropdown menu -->
    <div
      class="z-[101010101] hidden absolute right-[20px] top-[px] my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow"
      id="user-dropdown"
    >
      <div class="px-4 py-3">
        <span class="block text-sm text-gray-900"
          >{{ customer?.lastName }} {{ customer?.firstName }}</span
        >
        <span class="block text-sm text-gray-500 truncate">{{
          customer?.email
        }}</span>
      </div>
      <ul class="py-2" aria-labelledby="user-menu-button">
        <li></li>
        <li>
          <a
            (click)="navigateToProfileDetails(customer._id)"
            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
            >Profile</a
          >
        </li>
        <li>
          <a
            routerLink="/editProfile"
            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
            >Edit Prodile</a
          >
        </li>
        <li>
          <a
            routerLink="/settings"
            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
            >Settings</a
          >
        </li>
        <li>
          <a
            (click)="logout()"
            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
            >Sign out</a
          >
        </li>
      </ul>
    </div>
  </div>

  <ng-template #notLoggedInMessage>
    <a
      routerLink="/Login"
      class="text-xl rounded-xl text-white bg-purple-600 hover:bg-purple-700 p-2"
    >
      Sign Up
    </a>
  </ng-template>
</nav>
