<div class="header" id="header">
    <div class="container">
      <a href="#" class="logo">Carthage Hosting</a>
      <ul class="main-nav">
        <li><a href="#features">Features</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#pricing">Pricing</a></li>
        <li><a href="#work-steps">How It Works</a></li>
     
      </ul>
         <a routerLink="/Login" class="text-xl px-8 py-4 rounded-xl text-white bg-[#1787e0] ">
          Sign Up
        </a>
    </div>
  </div>
  <!-- End Header -->
